<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link rel="preload" th:href="@{/css/style.css}" as="style" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <title>Votaciones Presidenciales</title>
    </head>
    <body>
        <header>
            <h3>Aspirantes a la presidencia de Colombia para el 2022</h3>
            <img th:src="@{/img/elecciones.png}" alt="logo" />
        </header>

        <div class="banner">
            <div class="banner-contenido">
                <h1>Votaciones Presidenciales</h1>
                <p>
                    La Elección Presidencial de Colombia de 2022 se celebrará el
                    29 de mayo de 2022, y en ella se escogerán al Presidente y
                    Vicepresidente del país para el periodo 2022-2026. La
                    fórmula ganadora deberá obtener la mitad más uno del total
                    de votos válidos, de lo contrario se realizará el 19 de
                    junio de 2022 una segunda vuelta entre los dos candidatos
                    con mayor votación. El candidato que obtenga la victoria
                    gobernará por un único periodo de cuatro años. Según la
                    constitución de Colombia, pueden ejercer su derecho a
                    sufragio los ciudadanos mayores 18 años de edad que no hagan
                    parte de la Fuerza Pública, no estén en un proceso de
                    interdicción, y que no hayan sido condenados.
                </p>
               
            </div>
        </div>
        <main>
            <aside>
                <nav>
                   <a th:href="@{/}">Pagina Principal</a>
                    <a th:href="@{/agregar}">Agregar resultados</a>
                    <a th:href="@{/ver}">Ver Resultados</a>
                    <a th:href="@{/votar}">Votar candidatos</a>
                    <a th:href="@{/registrarCedula}">Registrar Cedula</a>
                    <a th:href="@{/search}">Consultar Cedula</a>
                </nav>
            </aside>
            <section class="table-section sombra">
                <table class="table caption-top table-resposive">
                    <caption>
                        Resultado de votos por región
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Región</th>
                            <th scope="col">MANUEL GALÁN</th>
                            <th scope="col">ALEJANDRO GAVIRIA</th>
                            <th scope="col">SERGIO FAJARDO</th>
                            <th scope="col">GUSTAVO PETRO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Andina</th>                            
                            <td>1'190.000 (47%)</td>
                            <td>600.000 (17%)</td>
                            <td>100.000 (9%)</td>
                            <td>900.000 (27%)</td>
                        </tr>
                        <tr>
                            <th scope="row">Orinoquía</th>                            
                            <td>1'190.000 (47%)</td>
                            <td>600.000 (17%)</td>
                            <td>100.000 (9%)</td>
                            <td>900.000 (27%)</td>
                        </tr>
                        <tr>
                            <th scope="row">Pacífico</th>                            
                            <td>1'190.000 (47%)</td>
                            <td>600.000 (17%)</td>
                            <td>100.000 (9%)</td>
                            <td>900.000 (27%)</td>
                        </tr>
                        <tr>
                            <th scope="row">Caribe</th>                            
                            <td>1'190.000 (47%)</td>
                            <td>600.000 (17%)</td>
                            <td>100.000 (9%)</td>
                            <td>900.000 (27%)</td>
                        </tr>
                        <tr>
                            <th scope="row">Amazonía</th>                            
                            <td>1'190.000 (47%)</td>
                            <td>600.000 (17%)</td>
                            <td>100.000 (9%)</td>
                            <td>900.000 (27%)</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <footer>
            <div class="pieG">
                <h4 id="pie1">© Copyright MinTic G46 2022 - Todos los derechos reservados</h4>                
                    <ul>
                        <li class="li-p"><a href="https://latinwmg.com/copyright-que-es-y-para-que-sirve/">Copyright</a></li>
                        <li class="li-p"><a href="https://www.misiontic2022.gov.co/portal/">MinTic 2022</a></li>
                        <li class="li-p"><a href="https://www.unab.edu.co/">UNAB</a></li>
                        <li class="li-p"><a href="https://misiontic2022.unab.edu.co/my/">MisionTic-UNAB</a></li>
                        
                    </ul>
            </div>
        </footer>
    </body>
</html>
